.fav-add {
	position: absolute;
	top: 11%;
	left: 9%;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--white);
	cursor: pointer;
	transition: var(--animation);
	width: 21px;
	height: 21px;
}

.fav-add svg {
	width: 100%;
	height: 100%;
	display: block;
	transition: var(--animation);
}

.fav-add__active {
	width: 26px;
	height: 26px;
	top: 9.8%;
	left: 8.5%;
	outline: none;
}

.fav-add__active svg {
	fill: var(--dark-blue);
	width: 26px;
	height: 24px;
}
