.rs-container * {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rs-container {
	height: 75px;
	font-family: Arial, Helvetica, sans-serif;
	/* height: 45px; */
	position: relative;
}

.rs-tooltip-container {
	display: flex;
	justify-content: space-between;
	/* margin: 0 -26px; */
}

.rs-tooltip {
	position: static;
	/* position: absolute; */
	/* transform: translate(-50%, -35px); */
	/* transform: translate(0); */
	width: auto;
	padding: 6px 0;
	/* min-width: 60px; */
	height: 30px;
	color: var(--disabled-blue);
	background-color: transparent;
	border: none;
	font-family: var(--main-font);
	font-size: 13px;
	/* color: #333; */
	/* background: #fff; */
	/* border: 1px solid #00969b; */
	/* border-radius: 3px; */
	/* left: 13px; */
	/* text-align: center; */
}

.rs-colored-line {
	position: absolute;
	height: 10px;
	top: 5px;
	background-color: #eee;
	border-radius: 3px;
	border-color: var(--main-blue);
	color: var(--white);
	/* width: 100%; */
	/* left: 0; */
	/* top: 35px; */
	/* background-color: #eee; */
	/* border: 1px solid #ededed; */
	/* background-color: #00b3bc;
	border: 1px solid #00969b;
	/* width: 0; */
	/* transition: all 0.2s linear; */
}

.rs-colored-line-1 {
	background-color: var(--main-blue);	
}
.rs-container.disabled > .rs-colored-line-1 {
	background-color: var(--disabled-bg);
	transition: all 0.2s linear;
 }
/* .rs-bg {	
	width: 100%;
	top: 20px;
	background-color: #eee;
	border: 1px solid #ededed;
	height: 10px;
	position: absolute;
	border-radius: 3px;
} */

/* --------------- scale -------------  */
/* .rs-scale {
	display: none;
	top: 35px;
	left: 0;
	position: absolute;
	top: 5px;
	white-space: nowrap;
}

.rs-scale span {
	float: left;
	position: relative;
}

.rs-scale span::before {
	background-color: #ededed;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 10px;
	width: 1px;
}

.rs-scale span:last-child {
	margin-left: -1px;
	width: 0;
}
.rs-scale span ins {
	color: #333;
	display: inline-block;
	font-size: 12px;
	margin-top: 20px;
	text-decoration: none;
} */

/* .rs-container.rs-noscale span::before {
	display: none;
}
.rs-container.rs-noscale span:first-child::before,
.rs-container.rs-noscale span:last-child::before {
	display: block;
} */


/* --------------- pointer -------------  */
.rs-thumb {
	/* top: 30px; */
	/* left: -10px; */
	position: absolute;
	top: 0;
	height: 20px;
	width: 30px;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: inset 0 0 1px #fff, inset 0 1px 6px #ebebeb,
		1px 1px 4px rgba(0, 0, 0, 0.1);

	outline: none;
	/* outline отвечает за добавление рамки при выделении, стандартное поведение браузера */
	/* transition: none; */
}

.rs-thumb::after {
	left: 12px;
	top: 5px;
	left: auto;
	right: 12px;
	content: "";
	position: absolute;
	width: 1px;
	height: 9px;
	background-color: #ddd;
}
.rs-thumb::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 9px;
	background-color: #ddd;
	left: 12px;
	top: 5px;
}

.rs-container.disabled > .rs-thumb {
	background-color: var(--disabled-bg);
	transition: all 0.2s linear;
 }


/* ---------- Слайдинг --------------- */
/* .rs-container.sliding .rs-pointer,
.rs-container.sliding .rs-selected {
	transition: none;
} */

/* ---------- Дисейблд --------------- */
/* .rs-container.disabled .rs-pointer {
	border-color: #ccc;
	cursor: default;
}
.rs-container.disabled .rs-selected {
	background-color: #ccc;
	border-color: #bbb;
}

.rs-container.disabled .rs-tooltip {
	border-color: #ccc;
	color: #999;
}
.rs-container.disabled .rs-scale span ins {
	color: #999;
} */