.product {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 300px;
	max-width: 370px;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}
.product__favourite {
	position: absolute;
	z-index: 3;
}

.product__image {
	display: flex;
	position: relative;
	cursor: pointer;
}

.product__content {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 0 13px;
}

.product__title-link {
	transition: var(--animation);
}

.product__title-link:active,
.product__title-link:focus {
	color: var(--dark-blue);
	cursor: pointer;
	outline: none;
}

.product__price {
}

.product__address {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 23px;
}

.product__address::before {
	position: absolute;
	top: 4px;
	left: 0;
	width: 14px;
	height: 18px;
	content: "";
	background-image: url("../../img/pointer.svg");
}

/* --------------------Навигация на фото продукта в листе-------------------- */
.product__image-navigation {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 3px;
}

.product__navigation-column {
	display: flex;
	margin: 0 3px;
	width: 100%;
	z-index: 2;
}

.product__navigation-column span {
	align-self: end;
	margin-bottom: 5px;
	width: 100%;
	height: 4px;
	background-color: var(--disabled-bg);
	opacity: 0.4;
}

.product__navigation-column--active span {
	opacity: 1;
}
.product__navigation-column--fifth {
	z-index: 2;
}
.product__image-more-photo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 600;
	color: var(--white);
	background-color: var(--popup-overlay);
	border-radius: 4px 0px 0px 4px;
}
