.results {
	display: flex;
	justify-content: center;

}
/* .results__head {
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg);
	z-index: 2;
	background-color: var(--main-bg);
} */

/* .results__sorting {
  margin-bottom: 30px;
} */
.results__ul {
	display: flex;
	flex-direction: column;
	/* margin-top: 2rem; */
	padding: 0;
	gap: 20px;
}

.results__favheader {
	color: var(--main-blue);
	text-transform: uppercase;
}

.results__info {
	display: flex;
	flex-direction: column;
	margin-top: clamp(10px, 20px, 30px);
	padding-top: clamp(10px, 20px, 30px);
	align-items: center;
}

.results__info p {
	width: 58%;
	margin: 0 0 20px;
	color: var(--disabled-blue);
	text-align: center;
}

.results__empty-message {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.75;
}

.results__empty-advice {
	font-weight: 400;
	line-height: 1.57;
}

.results__list::-webkit-scrollbar {
	display: none;
}
