.results__ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 20px;
}

.results__favheader {
	color: var(--main-blue);
	text-transform: uppercase;
}

.results__info {
	display: flex;
	flex-direction: column;
	margin-top: clamp(10px, 20px, 30px);
	padding-top: clamp(10px, 20px, 30px);
	align-items: center;
}

.results__info p {
	width: 58%;
	margin: 0 0 20px;
	color: var(--disabled-blue);
	text-align: center;
}

.results__list::-webkit-scrollbar {
	display: none;
}
