.xs__controls {
	display: flex;
	/* flex-grow: 1; */
	/* flex-wrap: wrap; */
	/* align-self: center; */
	/* justify-content: center; */
	gap: 8px;
	/* width: 100%; */
	/* min-width: 320px; */
	/* max-width: 370px; */
}
.xs__control-btn,
.xs__favorites-btn {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* -------------filters and sorting btns styles------------- */
.xs__control-btn {
	gap: 6px;
	padding: 6px;
	box-shadow: 0px 1px 2px 0px var(--disabled-blue);
}
.xs__control-btn h2 {
	font-size: clamp(1rem, 1.1rem, 1.2rem);
	line-height: 1.6;
	font-weight: 600;
	letter-spacing: 0.01em;
	color: var(--main-blue);
	user-select: none;
}
.xs__control-btn svg {
	fill: var(--main-blue);
}

/* pressed */
.xs__control-btn--pressed {
	background-color: var(--main-blue);
	border-bottom-color: var(--main-blue);
	box-shadow: 0px 1px 2px 0px var(--white);
}

.xs__control-btn--pressed h2 {
	color: var(--white);
}
.xs__control-btn--pressed svg {
	fill: var(--white);
}

/* disabled */
.xs__control-btn:disabled {
	background-color: var(--disabled-bg);
	border-bottom-color: var(--disabled-bg);
	box-shadow: none;
}
.xs__control-btn:disabled h2 {
	color: var(--disabled-blue);
}
.xs__control-btn:disabled svg {
	fill: var(--disabled-blue);
}

/* ---------------favorites btn styles---------------- */
.xs__favorites-btn {
	min-width: 42px;
	padding: 10px;
	color: var(--main-blue);
	box-shadow: 0px 1px 2px 0px var(--disabled-blue);
}

.xs__favorites-btn--pressed {
	background-color: var(--main-blue);
	border-bottom-color: var(--main-blue);
	box-shadow: 0px 1px 2px 0px var(--white);
}

.xs__favorites-btn--pressed > svg > path {
	fill: var(--main-blue);
	color: var(--white);
	background-color: var(--main-blue);
}
