@media screen and (min-width: 768px) {
	html {
		font-size: 15px; /* Размер шрифта корневого элемента */
	}
	.xs {
		display: none;
	}
	.searchpage__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			"A B"
			"A C";
		width: 100%;
		gap: 25px;
		padding: 8px 8px;
		align-items: normal;
	}
	.m-filters {
		grid-area: A;
		grid-column: span 4;
		display: flex;
	}
	.m-sortfavs {
		grid-area: B;
		grid-column: span 8;
		display: flex;
		justify-content: space-between;
	}
	.results {
		grid-area: C;
		grid-column: span 8;
	}
	.filter {
		flex-grow: 1;
	}
	.results__ul {
		margin-top: 0;
	}
	.product {
		max-width: none;
		flex-direction: row;
	}
	.product__image {
		width: 45%;
	}
	.product__image img {
		object-fit: contain;
	}
	.product__content {
		justify-content: space-evenly;
		padding: 0 6px;
		gap: 9px;
		width: 55%;
	}
	.popup {
		display: flex;
		justify-content: center;
	}
	.popup__inner {
		width: clamp(500px, 200px + 45vw, 900px);
		max-height: none;
		height: 92dvh;
		margin: 4dvh 0;
	}
	.popup__map, .popup__map > div:first-child {		
		height: max(180px, 25dvh);
	}	

	/* --------------------типографика для размера M и выше----------------------- */
	
	.product__title-link {
		font-size: clamp(16px, 2.15vw, 22px);
		line-height: 1;
	}
	.product__price {
		font-size: clamp(17px, 2.35vw, 23px);
		line-height: 1;
	}
	.product__address {
		padding-left: 20px;
		font-size: clamp(14px, 1.75vw, 20px);
		line-height: 1;
	}
	.product__address::before {
		top: -1px;
	}
	.product__date {
		font-size: clamp(11px, 1.4vw, 14px);
		margin: 0;
		line-height: 1;
	}
	.popup__title {
		font-size: clamp(24px, 3.2vw, 36px);
	}
}
