@media screen and (min-width: 576px) {
	html {
		font-size: 15px; /* Размер шрифта корневого элемента */
	}
	.popup__inner {
		height: 80svh;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.popup__title {
		font-size: 1.4rem;
		line-height: 1.5;
		color: var(--titles-color);
	}
	.popup__map,
	.popup__map > div:first-child {
		height: 22svh;
	}

	// * --------------------типографика для размера S и выше-----------------------

	.popup__title {
		font-size: clamp(24px, 20px + 0.6vw, 28px);
	}
	.popup__price {
		font-size: clamp(22px, 21px + 0.6vw, 26px);
	}
}
