@media screen and (min-width: 576px) {
	html {
		font-size: 15px; /* Размер шрифта корневого элемента */
	}
	.xs__controls {
		margin-left: 10%;
		margin-right: 10%;
	}
	.popup__inner {
		height: 80svh;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.popup__title {
		font-size: 1.4rem;
		line-height: 1.5;
		color: var(--titles-color);
	}
	.popup__map {
		order: 2;
		width: 100%;
		height: 22svh;
	}
	.popup__map > div:first-child {
		width: 100%;
		height: 22svh;
	}
}
