/* ------------ кнопка закрытия попапа ------------- */
.popup__close {
	position: absolute;
	z-index: 99;
	top: 15px;
	right: 15px;
	padding: 3px;
	border: none;
	background: none;
	cursor: pointer;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
}

.popup__close svg {
	fill: var(--dark-blue);
	transition: var(--animation);
}

.popup__close:active svg {
	fill: var(--dark-blue);
	outline: none;
}
.popup__close:active {
	outline: none;
}
