.popup__chars {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(8px, 15px, 20px);
	margin: 0;
	padding: 0;
	list-style: none;
}

.popup__chars-name {
	font-size: 14px;
	line-height: 1.57;
	letter-spacing: 0.02em;
	font-weight: 600;
	color: var(--disabled-blue);
}

.popup__chars-value {
	font-size: 20px;
	line-height: 1.6;
	font-weight: 600;
	color: var(--titles-color);
}
