/* ------------ кнопка закрытия попапа ------------- */
.popup__close {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.popup__close svg {
	fill: #4456b1;
	transition: var(--animation);
}

.popup__close:active svg {
	fill: var(--dark-blue);
	outline: none;
}
.popup__close:active {
	outline: none;
}
