:root {
	/* --main-blue: #4456B1;
    --light-blue: #7B8FF7;
    --dark-blue: #1E2B6C;
    --disabled-blue: #A4AAC7; */
    
    /* светлый бирюзовый
	--main-blue: #357f86;
	--light-blue: #63acaa;
	--dark-blue: #195a5f;
	--disabled-blue: #92b5b4; */

	--main-blue: #275e63; /* Основной бирюзовый цвет */
	--light-blue: #507d7b; /* Светлый бирюзовый цвет */
	--dark-blue: #13484c; /* Темный бирюзовый цвет */
	--disabled-blue: #7d9b9a; /* Бирюзовый цвет для отключенных элементов */

	--titles-color: #444444;
	--disabled-bg: #e1e3ec;
	--main-bg: #f5f6f9;
	--white: #ffffff;
	--popup-overlay: rgba(0, 0, 0, 0.5);
	--light-green: #44b156;
	--bad-rating: #97a2b5;

	--main-font: "Montserrat", "Helvetica", sans-serif;
	/* зависимость шрифта от заданного для html typography.css значения */
	/* --fs-btn-xs: 0.875rem;
	--font-size-xs-header: calc(var(--font-size-base) * 0.875);
	--font-size-sm: calc(var(--font-size-base) * 0.875);
	--font-size-lg: calc(var(--font-size-base) * 1.125); */
	/* --font-size-base: 16px;
	--font-size-xs: calc(var(--font-size-base) * 0.75);
	--font-size-xs-header: calc(var(--font-size-base) * 0.875);
	--font-size-sm: calc(var(--font-size-base) * 0.875);
	--font-size-lg: calc(var(--font-size-base) * 1.125); */

	--padding-btn-xs: 7px 10px;
	--padding-select-xs: 8px 0 5px 18px;
	
	--padding-btn-m: 9px 14px;
	--padding-select-m: 10px 0 6px 20px;
	--padding-btn-xl: 11px 16px;

	--animation: 0.155s ease-in-out;
}
